MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=
MAIL_TIMEOUT=
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME=

# Bounce/Return-Path (use reception only for bounces)
MAIL_BOUNCE_ADDRESS=

# DKIM from app (leave false if DKIM is enabled in cPanel)
MAIL_DKIM_ENABLED=
MAIL_DKIM_DOMAIN=
MAIL_DKIM_SELECTOR=
MAIL_DKIM_PRIVATE_KEY_PATH=
MAIL_DKIM_PASSPHRASE=